In [4]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter("ignore")

### Collabarative based filtering recomendation

In [7]:
book_df = pd.read_csv(r"C:\Users\omkar\OneDrive\Desktop\Datasets\Book_Recomendation\Books.csv")
ratings_df = pd.read_csv(r"C:\Users\omkar\OneDrive\Desktop\Datasets\Book_Recomendation\Ratings.csv")
user_df = pd.read_csv(r"C:\Users\omkar\OneDrive\Desktop\Datasets\Book_Recomendation\Users.csv")

In [8]:
book_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [11]:
print(book_df.shape)
print(ratings_df.shape)
print(user_df.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [12]:
ratings_df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [13]:
user_df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [14]:
# Checking for the null values

In [15]:
book_df.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [16]:
# Since there are small number of nul values we can ignore them they won't let you harm our recomendation

In [17]:
ratings_df.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [18]:
# There are null values in the ratings data frame

In [19]:
user_df.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [20]:
# age column has more number of null values we are not considering the that column.

In [23]:
print(book_df.duplicated().sum())
print(ratings_df.duplicated().sum())
print(user_df.duplicated().sum())

0
0
0

In [26]:
book_df.shape

(271360, 8)

In [25]:
book_df['Book-Title'].nunique()

242135

In [27]:
# We are going to drop the duplicated books

In [68]:
book_rating_df = pd.merge(book_df,ratings_df,on='ISBN')

In [69]:
book_rating_df.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [70]:
book_rating_df = book_rating_df.drop_duplicates('Book-Title')

In [71]:
book_rating_df.shape

(241071, 10)

In [126]:
# Finding the number fo user who given the rating to the books greater than 150

In [185]:
most_popular_users = book_rating_df.groupby('User-ID')['Book-Rating'].count().reset_index().sort_values(by='Book-Rating',ascending=False)

In [214]:
# We can filter like this also Filter users who have rated more books than a certain percentile (e.g., top 90%).
# threshold = book_rating_df.groupby('User-ID')['Book-Rating'].count().quantile(0.90)  
# active_users = book_rating_df.groupby('User-ID').count()['Book-Rating'] > threshold  
# active_users_index = active_users[active_users].index

In [199]:
most_popular_users = most_popular_users[most_popular_users['Book-Rating'] > 30]
most_popular_users_index = most_popular_users.index

In [200]:
most_popular_users

       User-ID  Book-Rating
2661     11676         5877
32128   278418         3518
15217    98391         2613
25069   198711         2045
6888     35859         1982
...        ...          ...
31070   269841           31
27752   230030           31
20431   148798           31
6558     33826           31
12946    79961           31

[1252 rows x 2 columns]

In [201]:
most_popular_users.shape

(1252, 2)

In [120]:
# Only 1252 users are consired as well read users with 30 ratings given by book

In [203]:
filtered_ratings = book_rating_df[book_rating_df['User-ID'].isin(most_popular_users_index)]
filtered_ratings

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
6755,0312970242,The Angel Is Near,Deepak Chopra,2000,St. Martin's Press,http://images.amazon.com/images/P/0312970242.0...,http://images.amazon.com/images/P/0312970242.0...,http://images.amazon.com/images/P/0312970242.0...,69,0.0
6792,0060938412,The Accidental Virgin,Valerie Frankel,2003,Avon Trade,http://images.amazon.com/images/P/0060938412.0...,http://images.amazon.com/images/P/0060938412.0...,http://images.amazon.com/images/P/0060938412.0...,73,5.0
12874,0785263292,"If Singleness Is a Gift, What's the Return Pol...",Holly Virden,2003,Nelson Books,http://images.amazon.com/images/P/0785263292.0...,http://images.amazon.com/images/P/0785263292.0...,http://images.amazon.com/images/P/0785263292.0...,237,0.0
12876,0830714014,Always Daddy's Girl: Understanding Your Father...,H. Norman Wright,1989,Regal Books,http://images.amazon.com/images/P/0830714014.0...,http://images.amazon.com/images/P/0830714014.0...,http://images.amazon.com/images/P/0830714014.0...,237,0.0
21411,8433914545,El Palacio de La Luna,Paul Auster,1996,Anagrama,http://images.amazon.com/images/P/8433914545.0...,http://images.amazon.com/images/P/8433914545.0...,http://images.amazon.com/images/P/8433914545.0...,361,8.0
...,...,...,...,...,...,...,...,...,...,...
1008642,1400060257,"Royal Heist : A Novel (La Plante, Lynda)",LYNDA LA PLANTE,2004,Random House,http://images.amazon.com/images/P/1400060257.0...,http://images.amazon.com/images/P/1400060257.0...,http://images.amazon.com/images/P/1400060257.0...,22365,0.0
1008643,1582433186,The Mercy Killers: A Novel,Lisa Reardon,2004,Counterpoint Press,http://images.amazon.com/images/P/1582433186.0...,http://images.amazon.com/images/P/1582433186.0...,http://images.amazon.com/images/P/1582433186.0...,22365,0.0
1008646,0446525979,Ain't It Cool? Hollywood's Redheaded Stepchild...,Harry Knowles,2002,Warner Books,http://images.amazon.com/images/P/0446525979.0...,http://images.amazon.com/images/P/0446525979.0...,http://images.amazon.com/images/P/0446525979.0...,23659,0.0
1008647,082395059X,Comets and Asteroids (Exploring Space),Amanda Davis,1998,PowerKids Press,http://images.amazon.com/images/P/082395059X.0...,http://images.amazon.com/images/P/082395059X.0...,http://images.amazon.com/images/P/082395059X.0...,23659,0.0
1008648,1401300588,The Tree Bride : A Novel,Bharati Mukherjee,2004,Hyperion,http://images.amazon.com/images/P/1401300588.0...,http://images.amazon.com/images/P/1401300588.0...,http://images.amazon.com/images/P/1401300588.0...,23659,0.0

In [46]:
# There two ways to do this 
# 1. we can search these users in book_rating_df with corresponding books finds the somialrity between them but losing some of thebooks
# 2.we can consider all the users and books then finds the similarity between them.
# Let's try out the second one

In [47]:
# Creating pivot table for the booktitle as index,column as users,values as ratings

In [75]:
book_rating_df.shape

(241071, 10)

In [76]:
book_rating_df.dropna(subset=['User-ID', 'Book-Title', 'Book-Rating'], inplace=True)

In [77]:
book_rating_df['User-ID'] = book_rating_df['User-ID'].astype(int)
book_rating_df['Book-Rating'] = book_rating_df['Book-Rating'].astype(float)

In [78]:
book_rating_df = book_rating_df.drop_duplicates(subset=['User-ID', 'Book-Title'])

In [79]:
print(book_rating_df.isnull().sum())

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              1
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
User-ID                0
Book-Rating            0
dtype: int64

In [80]:
print(book_rating_df.dtypes)

ISBN                    object
Book-Title              object
Book-Author             object
Year-Of-Publication     object
Publisher               object
Image-URL-S             object
Image-URL-M             object
Image-URL-L             object
User-ID                  int32
Book-Rating            float64
dtype: object

In [81]:
print(book_rating_df.duplicated(subset=['Book-Title', 'User-ID']).sum())

0

In [54]:
pt = book_rating_df.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating', fill_value=0)

ValueError: negative dimensions are not allowed

In [82]:
book_rating_df.shape

(241071, 10)

In [83]:
print("Unique Books:", book_rating_df['Book-Title'].nunique())
print("Unique Users:", book_rating_df['User-ID'].nunique())

Unique Books: 241071
Unique Users: 32244

In [205]:
# For the sencod method we getting many users i.e many columns for the pivot table so it is unable do that.
# So now Keep only books and users with at least 30 ratings(above already created)

In [206]:
final_df = filtered_ratings.copy()

In [233]:
final_df.index

Index([   6755,    6792,   12874,   12876,   21411,   21424,   27400,   27403,
         27548,   27966,
       ...
       1008627, 1008628, 1008629, 1008640, 1008641, 1008642, 1008643, 1008646,
       1008647, 1008648],
      dtype='int64', length=1804)

In [224]:
pt = final_df.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating', fill_value=0)

In [225]:
pt

User-ID,69,73,237,361,424,439,463,505,595,685,...,30351,30507,30598,31005,31044,31070,31410,31568,32110,32182
Book-Title,,,,,,,,,,,,,,,,,,,,,
It Takes Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Mystery Mile,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100 greatest golf courses--and then some,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100% Chocolate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Best Cheers: How to Be the Best Cheerleader Ever,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Your Wicked Ways,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yours Forever (Christy Miller),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yukon Ho!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zero Sldr Bkfr: Flw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\And So It Goes\"": Adventures in Television/10113""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

True

In [239]:
pt.index

Index([' It Takes Two', ' Mystery Mile',
       '100 greatest golf courses--and then some', '100% Chocolate',
       '101 Best Cheers: How to Be the Best Cheerleader Ever',
       '1999 Writer's Market (Annual)',
       '20,000 Leagues Under the Sea (Wordsworth Collection)',
       '52 Deck Series: 52 Ways to Celebrate Friendship',
       '69 Things to Do with a Dead Princess',
       '77 Ways to Beat Colds and Flu: A People's Medical Society Book',
       ...
       'X/1999-Duet   (Book 6)',
       'Yin for Change: Awakening Imagination for More Life in Your Living',
       'You Have To Kiss A Lot Of Frogs',
       'You can't have your kayak and heat it;: Stories from My word!',
       'Your Erroneous Zones', 'Your Wicked Ways',
       'Yours Forever (Christy Miller)', 'Yukon Ho!', 'Zero Sldr Bkfr: Flw',
       '\And So It Goes\": Adventures in Television/10113"'],
      dtype='object', name='Book-Title', length=1804)

In [226]:
# Finding the cosine similarity of the each every book

In [228]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(pt)

In [230]:
similarity_scores.shape

(1804, 1804)

In [231]:
similarity_scores

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [242]:
# Get the close match for based on book title
import difflib
def close_match(book_name):
    return difflib.get_close_matches(book_name,pt.index.tolist())[0]
close_match("It Takes Two")

' It Takes Two'

In [246]:
import numpy as np

def recommend(book_title, pt, similarity_scores):
    book_title = close_match(book_title)
    if book_title not in pt.index:
        return "Book not found in dataset!"
    
    # Step 1: Find the index of the book
    book_index = pt.index.get_loc(book_title)

    # Step 2: Retrieve similarity scores for the book
    scores = similarity_scores[book_index]

    # Step 3: Get top 5 most similar books (excluding itself)
    top_indexes = np.argsort(scores)[-6:-1][::-1]  # Sort and exclude itself

    # Step 4: Return book titles
    recomed_books = pt.index[top_indexes].tolist()
    book_details = []
    for i,book_title in enumerate(recomed_books):
        print(i,"."+ book_title)

In [245]:
book_name = input("Enter the book name")
print("Top 5 Recommended Books:")
recommend(book_name, pt, similarity_scores)

Enter the book name It Takes Two

Top 5 Recommended Books:
0 .Hard Laughter
1 .Home Sweeter Home: Creating a Haven of Simplicity and Spirit (Mitchell, Jann. Sweet Simplicity, 1st Bk.)
2 .Home Truths: A Novella
3 .Homeschoolers' Success Stories : 15 Adults and 12 Young People Share the Impact That Homeschooling Has Made on Their Lives
4 .Homeschooling: The Teen Years : Your Complete Guide to Successfully Homeschooling the 13- To 18-Year Old (Prima Home Learning Library)